<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Select Image">
  <ion-content has-header="true" has-tabs="true">

    <div class="row">
      <div class="col">
        <h1 class="padding-vertical">Welcome to txtbinge!</h1>
        <button class="button button-block button-energized padding-vertical">
          upload picture
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
