<?xml version='1.0' encoding='utf-8'?>
<widget id="com.txtbinge.picuploader" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Phonegap Pic Uploader</name>
    <description>
        An ionic app that takes a local picture and uploads it to S3
    </description>
    <author email="morenoh149@gmail.com" href="http://txtbinge.com/">
        Harry Moreno
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
